*{margin: 0}

header {
  background-color: grey;
  color: #fff;
  padding: 15px 0 15px 50px;
  display: flex;
  gap: 60%;
  height: 5vh;
  align-items: center;
}


.menu{display: flex;
gap : 20%}

.best_movie{
    margin: 20px;
    border: solid black 5px;
    height: 20vh;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}